.logo {
    width: 40px;
  }

  header {
    height: 500px;
    background: url(img/pets_logo.jpg) no-repeat center/cover;
    max-width: 100%;
  }
  .work {
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .photo {
    float: left;
    width: 40%;
  }

  .intro {
    float: right;
    width: 60%;
  }
  .card-img-top{
    width: auto;
    height: 300px;
  }

  .card-pic-size{
    width: auto;
    height: 400px;
  }